@using server.Controllers
@using System.Net
@using Microsoft.AspNetCore.Mvc.RazorPages
@using RestSharp
<!DOCTYPE html>
@{
    ViewBag.Language = GetLanguage();
}
@functions {
    readonly RestClient client = new RestClient("https://localhost:5001/Blog/API/Lang");
    private int GetLanguage()
    {
        client.Timeout = -1;
        var request = new RestRequest(Method.GET);
        var response = client.Execute(request);
        Console.WriteLine(ViewBag.Language);
        return response.Content == "" ? 1 : Convert.ToInt32(response.Content);
    }

    private void SetLanguage(int id)
    {
        client.Timeout = -1;
        var request = new RestRequest(Method.POST);
        request.AddHeader("Content-Type", "application/json");
        var body = Json.Serialize(id);
        request.AddParameter("application/json", body,  ParameterType.RequestBody);
        client.Execute(request);
        Console.WriteLine(ViewBag.Language);
    }

}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css" integrity="sha512-dMUQinc1gbNb95AFtKtP4q/g56T8r9oDxlWy0hrHyzfUbMq/vQztAqaR/FDY/bY0R1Ikc30aq94jyQH2Ix++ug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<header class="top-bar grid-x">
    <div class="button-group small-12 align-center">
        <a href="~/About" class="grid-padding-y"><button class="clear button">About</button></a>
        <a href="~/" class="grid-padding-y"><button class="clear button">Blog</button></a>
        <a href="~/Gallery" class="grid-padding-y"><button class="clear button">Gallery</button></a>
        <div class="button-group small-12 align-center">
            <a class="clear button" onclick="@{ SetLanguage(2);} location.reload()">LV</a>
            <a class="clear button" onclick="@{ SetLanguage(1); } location.reload()">ENG</a>
        </div>
    </div>
</header>
<body>
<main class="grid-x main-container">
    <div id="warn"><text>[In Active Development]</text></div>
    @RenderBody()
</main>
@*SCRIPTS!*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/foundation.min.js" integrity="sha512-9cXmvmK1gIDw3Tol6Xg/1SUls/CvBMgedu1aDjT519sQzy7jk+LoezyQqlzClW2LgXww4xEyuqtofg7PtWteLQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>$(document).foundation();</script>
<script src="~/js/vendor.js"></script>
<script src="https://kit.fontawesome.com/69f2f77242.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
