@model IEnumerable<database.Picture>
@{
    ViewBag.Title = "Life & Tech";
    Layout = "_Layout";
}
<div class="card">
    @Html.Raw(Model.Single(p=>p.IdPicture==33).AlternativeText)
</div>
<div class="row expanded grid-x small-12">
    @foreach ( var item in Model.Where(p=>p.Published))
    {
        <div class="card grid-padding-y grid-padding-x align-center-middle medium-6 large-3 small-12">
            <a href="@item.SourceOriginal">
                <img src="@item.SourcePreview" alt="Photo by @item.Users.Select(p=>p.Name)" />
            </a>
        </div>
    }
</div>