@using System.Linq
@model IEnumerable<database.Post>
@{
    ViewBag.Title = "Hiya!";
    Layout = "_Layout";
}
<div id="main-posts" class="card">
    <h1>All posts:</h1>
    <ul>
        @foreach (var post in Model.Where(p=>p.Published).GroupBy(p=>p.Date.Year))
        {
            <h2>@post.Key</h2>
            @foreach (var item in post.OrderByDescending(p=>p.Date))
            {
                <li>@item.Date.ToLongDateString() - <a href="~/ @item.IdPost">@item.Title</a></li>
            }
            
        }
    </ul>
</div>