@model IEnumerable<ICollection<server.Models.RecipeTagIndex>>

<div class="button-group">
@foreach (var item in Model)
{
    @foreach (var next in item)
    {
        <button id="@next.IdTagNavigation.IdTag" class="filter-button button"data-filter>@next.IdTagNavigation.Name</button>
    }
}
</div>