<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/foundation.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body>
<main class="grid-x main-container">
    <div id="warn"><text>[Aktīvā izstrādē]</text></div>
    @RenderBody()
</main>
@*SCRIPTS!*@
<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/js/foundation.min.js"></script>
<script>$(document).foundation();</script>
<script src="~/js/vendor.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/69f2f77242.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>