@model database.Recipe

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h1>@Model.Title</h1>

<p>Ingredienti:</p>
<ul>
 @foreach (var item in Model.IngredientIndices.Select(p=>p.IdRef).Distinct())
 {
     <p>@Model.IngredientIndices.Where(p=>p.IdRef==item).Select(p=>p.IdRefNavigation.Name):</p>
                                  @foreach (var ing in Model.IngredientIndices.Where(p=>p.IdRef==item).Select(p=>p))
                                  {
                                      <li>@ing.IdIngredientNavigation.Name - @ing.Grams g</li>
                                  }
 }   
</ul>