@model IEnumerable<server.Models.Recipe>
@{
    Layout = "_Layout";
}
<div class="card small-12">@{await Html.RenderPartialAsync("TagsPartial", Model.Select(p=>p.RecipeTagIndices));}</div>
<div class="card small-12">@{await Html.RenderPartialAsync("ListPartial", Model);}</div>
